{% extends 'news/base.html' %}


{% block title %}
О сайте
{% endblock %}


{% block content %}
<h2>Что это за сайт?</h2>
<p>
    Это — неофициальный сайт вечерней математической школы. Официальный сайт находится по адресу <a href="http://vmsh.cmc.msu.ru">http://vmsh.cmc.msu.ru</a>.
</p>
<h2>Зачем он вообще нужен?</h2>
<p>
    Здесь есть всё то же, что и на официальном сайте. Кроме этого, публикуется информация о сроках проведения контрольных работ и некоторые учебные материалы. Пока что только для курса физики и для математики 8 класса.
</p>
{% endblock %}