{% extends 'main/base.html' %}


{% block title %}
{{ post.title }} | Новости
{% endblock %}


{% block content %}
<div class="post border-bottom">
    <div class="date">
        <p>Опубликовано: {{ post.published_date }}
            {% if perms.news.change_post %}
            <a class="btn btn-outline-dark mx-1" href="{% url 'post_edit' pk=post.pk%}"><span class="fas fa-edit"></span></a>
            {% endif %}
            {% if perms.news.delete_post %}
            <a class="btn btn-outline-dark mx-1" href="{% url 'post_delete' pk=post.pk%}"><span class="fas fa-trash"></span></a>
            {% endif %}
        </p>
    </div>
    <h3><a class="text-dark" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
<!--{% block append %}
{% endblock %}-->
{% endblock %}