{% extends 'main/base.html' %}


{% block title %}
Расписание
{% endblock %}


{% block content %}

{% if perms.diary.add_subject %}
    <h2><a class="btn btn-outline-dark" href="{% url 'subject_new' %}"><span class="fas fa-plus"></span></a></h2>
{% endif %}

<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Класс</th>
            <th scope="col">День недели</th>
            <th scope="col">Предмет</th>
            <th scope="col">Время</th>
            <th scope="col">Аудитория</th>
            {% if perms.diary.change_subject %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for grade in object_list %}
            <tr>
            <th scope="row" rowspan="{{ grade.number_of_subjects }}">{{ grade.number }}</th>
                {% for day in grade.get_timetable_list %}
                    <td rowspan="{{ day.0 }}">{{ day.1 }}</td>
                    {% for subject in day.2 %}
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.time }}</td>
                    <td>{{ subject.room }}</td>
                    {% if perms.diary.change_subject %}
                    <td><div class="d-inline-flex">
                        <a class="btn btn-outline-dark mx-1" href="{% url 'subject_edit' pk=subject.pk%}"><span class="fas fa-edit"></span></a>
                        {% if perms.diary.delete_subject %}
                        <a class="btn btn-outline-dark mx-1" href="{% url 'subject_delete' pk=subject.pk%}"><span class="fas fa-trash"></span></a>
                        {% endif %}
                    </div>  </td>
                    {% endif %}
                    </tr><tr>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}