.container {
  max-width: 900px;
}

nav a.active{
    text-decoration: underline;
}

footer{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 12px;
}

.date{
    font-size: 13px;
    padding-top: 10px;
}